.signature {
  hr {
    border-bottom: 1.5px dotted #000;
  }

  .signature-line {
    margin: 5rem 5rem 1rem 5rem;
  }

  .date-line {
    display: inline-block;
    width: 55%;
    margin: 2.5rem 0 0 0.5rem;
  }
}
