.table {
  thead {
    th {
      text-align: center;
      border: 2px solid #000 !important;
    }
  }

  tbody {
    tr {
      height: 3.92rem;

      &:last-child {
        td {
          border-bottom: 2px solid #000 !important;
        }

        td:last-child {
          background: #b8e8ff;
          border: 3px solid #000 !important;
        }
      }

      &:nth-last-child(3) {
        td {
          border-top: 2px solid #000 !important;
        }

        td:first-child {
          background: #b8e8ff;
          border: 3px solid #000 !important;
        }
      }

      &:nth-last-child(2) {
        td:nth-child(1) {
          border-bottom: 2px solid #000 !important;
        }
      }

      td:first-child {
        border-left: 2px solid #000 !important;
      }

      td {
        border-right: 2px solid #000 !important;
      }
    }
  }
}
